.Current-weather {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-evenly;
  }
  @media screen and (min-width: 1024px) {
    margin-top: 1vh;
  }
}

.Info-general,
.Info-details {
  height: 45vh;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 45vh;
  }
  @media screen and (min-width: 1024px) {
    width: 40vw;
    height: 45vh;
    -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
  }
}

.Info-general {
  background: #1f4270;
  background: -moz-linear-gradient(-45deg, #1f4270 0%, #5c7ba1 100%);
  background: -webkit-linear-gradient(-45deg, #1f4270 0%, #5c7ba1 100%);
  background: -o-linear-gradient(-45deg, #1f4270 0%, #5c7ba1 100%);
  background: -ms-linear-gradient(-45deg, #1f4270 0%, #5c7ba1 100%);
  background: linear-gradient(135deg, #1f4270 0%, #5c7ba1 100%);
  background-position-y: -0.01vh;
  color: #fff;
  .Icon-weather {
    float: right;
    img {
      width: 80%;
      height: 80%;
    }
  }
  .Conditions div {
    display: flex;
    margin: 2vh 2vw;
  }
  .Temperature {
    font-size: calc(10px + 4vmin);
  }
}

.Info-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f6f6f6;
  div {
    display: flex;
    justify-content: space-between;
    margin: 1vh 1vw;
    .Details-data {
      font-weight: bold;
    }
  }
}
